<!-- <div class="mainqueueBox">
    <h1 class="queuetitle"> press to join queue </h1>
    <div class="queueBox"> 
      
      <div class="button-card box1 rounded-5" id="noraml_btn" onclick="NormalQueue()">
          <h1>Normal</h1>
          <h4> players : 2</h4>
          <h4> mode : online</h4>
      </div>
  
      <div class="button-card box1 rounded-5" onclick="turnament()">
        <h1> tournament</h1>
        <h4> players : 8</h4>
        <h4> mode : online</h4>
  
      </div>  
    </div>
  </div> -->



  <!-- <script  src="static/game/queue/script.js"></script> -->
