/* :root{
    --dark-color : #25284A;
    --green-color: #33d1cc;
    --red-color:#ef5a6b;
    --yallow-color :#ffc400;
    --section-color :#eff7fa;
    --op-dark-color:#2e325c;
    --gray-color:#737aae;
    --violet-color:#6f32ff;
    --violet-color-op:#6f32ff52;
    --blue-color: #0da9e9;
    --dark-yellow-color :#F59401;
    --black :#000
}
body{
    background-color: var(--black);
    color: rgb(238, 238, 238);
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* ------- */
.gameview{
    color: rgb(238, 238, 238);
    background-color: var(--black);
    /* margin-left: 110px; */
    height: 100%;
    width:  100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topheader
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.topheadcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#scoeHolder
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.gameheader{
    
    width: 50%;
    height: 100%;
    background-color: gray; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

.playerimg{
    height: 100%;
    width: 100%;
    z-index: -2;
}


#wh1
{
    z-index: 3;
    margin-right: 25%;
    margin-bottom: 80%;
}
#wh2
{
    z-index: 3;
    margin-left: 25%;
    margin-bottom: 80%;
}




.headersep{
    z-index: 1;
    width: 0px;
}

.imgcontainer
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gameheader1 .pimg {
    background-image: url('https://cdn.intra.42.fr/users/3e7d3dd26c2be1f602ed1d631b17bdbb/mkatfi.JPG');
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    filter: grayscale();

    height: 60%;
    width: 80%;
    border-radius: 50%;
    
}

.gameheader2 .pimg {
    background-image: url('https://cdn.intra.42.fr/users/2aaa24c2f68fc8417922ec999682f612/monabid.jpg');
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    filter: grayscale();

    height: 60%;
    width: 80%;
    border-radius: 50%;
    
}

.pimg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: radial-gradient(circle, rgba(4,4,4,0.3) 0%, rgb(0, 0, 0) 100%);
    /* background: linear-gradient(to left,rgba(0, 0, 0, 0.1), rgb(1, 1, 1)); */
    /* background: linear-gradient(to top,rgba(0, 0, 0, 0.1), rgb(1, 1, 1)); */


}

.pimg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: radial-gradient(circle, rgba(4,4,4,0.3) 0%, rgba(0,0,0,1) 100%);

    /* background: linear-gradient(to right,rgba(0, 0, 0, 0.1), rgb(1, 1, 1)); */
    /* background: linear-gradient(to bottom,rgba(0, 0, 0, 0.1), rgb(1, 1, 1)); */

}

.gameheader1{
background-color: black;
}

/* .gameheader1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.562), rgb(1, 1, 1));
}

.gameheader1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.342), rgba(1, 1, 1, 0.644));
} */

.gameheader2{
    /* background-image: url('https://cdn.intra.42.fr/users/3e7d3dd26c2be1f602ed1d631b17bdbb/mkatfi.JPG'); */
    background-color: black;

}
/* .gameheader2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.562), rgb(1, 1, 1));
}
.gameheader2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.342), rgba(1, 1, 1, 0.644));
} */

.playename{

    color: grey;
}

/* ------------------------ */
#gameHolder
{
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  

}
#game
{
    position: relative;
    width: 100%;
    height: 100%;
}
#ball
{
    position: absolute;
    /* top : 50%; */
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(180, 177, 176);
    z-index: 1;
}

#counterHoler
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#counter
{
    width: 100%;
    margin: 0; 
    padding: 0; 
    text-align: center;
    font-family: Sans-serif;
    z-index: 2;
}

#board{
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--dark-color); */
    z-index: -1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: marginTop;

    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px inset,
    
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

    box-shadow: rgba(116, 116, 116, 0.185) 10px 5px 5px 5px inset,
    rgba(116, 116, 116, 0.185) -10px -5px 5px 5px inset; */
}

.player{
    width : 5px;
    height: 10%;
}

#playerLeft{
    margin-top:  1px;
    margin-left: 3%;
    background-color: blue;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    /* outline: 5px solid blue; */
    

}

#midline{
    width: 4px;
    height: 100%;
    z-index: -1;
}

#playerRigth {
    margin-top:  1px;
    margin-right: 3%;
    background-color : green;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background-color: rgb(19, 151, 37); */
}


.gameview h1 {
    font-size: 2em; /* Initial font size */
}

@media (max-width: 600px) {
    .gameview h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }
    #counter h1
    {
        font-size: 1.5em; 
    }
}

@media (max-width: 400px) {
    
    .gameview h1 {
        font-size: 1em; /* Adjust font size for even smaller screens */
    }
}

.gameview h3 {
    font-size: 1.5em; /* Initial font size */
}

@media (max-width: 600px) {
    .gameview h3 {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

}

@media (max-width: 400px) {
    .gameview h3 {
        font-size: .5em; /* Adjust font size for even smaller screens */
    }

}
